# Credenciales de Administrador (NUNCA subir .env real al repo)
VITE_ADMIN_USER=adminhag@gmail.com
VITE_ADMIN_PASS=CAÑOLA2027*

# OpenAI API Key para el Chatbot
VITE_OPENAI_API_KEY=sk-proj-tu-api-key-aqui

# Contraseña Drive (para formatos.html)
VITE_DRIVE_PASS=SENA2026
